VITE_API_URL=http://localhost:5000

VITE_CHAIN_ID=11155111
VITE_CHAIN_NAME=Sepolia
VITE_BLOCK_EXPLORER_URL=https://sepolia.etherscan.io

VITE_MARKETPLACE_CONTRACT_ADDRESS=0xbf292971D5b77090CB4044ac178cCec124Fe1b82
VITE_SAL1155_CONTRACT_ADDRESS=0xcd0B4B97ff46a0B90fb4F0d53E6eD029FDe13E78
VITE_CERTIFICATE_SBT_CONTRACT_ADDRESS=0x7Fd164320b6Fa7Bcd7F5934808A9B1e3822de7f0
